streamlit
pandas
numpy
yfinance
matplotlib
joblib
pandas-datareader
scikit-learn
xgboost
beautifulsoup4
nltk
requests
lxml
plotly>=5.18.0
kaleido>=0.2.1
tenacity>=8.2.3
requests>=2.31.0
requests-cache>=1.2.0
